<div class="wrapper">
  <div class="side">
    <div class="footer">
      <img class="logo" src="logo-orange.svg">
    </div>
  </div>
  <img
    class="main-image"
    src="{{ mainImageUrl }}"
  >
</div>
