.main {
  flex: 1.62; /* Gold proportions */
  position: relative;
}

.main-image {
  height: 100%;
  object-fit: cover;
}

.footer {
  position: absolute;
  bottom: 1vh;
  right: 5vw;
}

.logo {
  max-width: 400px;
}