@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Sora:wght@300;400;600;700&display=swap');

html {
  font-family: 'Sora', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

h1, h2, h3, h4, h5, h6, .header {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/* .primary-header {
  background-image: url("/header.png");
} */